<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Partnership Options</h5>
            <p class="card-text">Although this site is for registration of Chams Agent Network Partners, there are also opportunities for organizations to be agents.</p>
            <a href="/partners/options" class="btn btn-primary">View Options</a>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Application and Participation Steps</h5>
            <p class="card-text">Before you begin your application, please take time to review the registration steps so you can be well prepared.</p>
            <a href="/partners/steps" class="btn btn-primary">View Steps</a>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Obligations of Partners</h5>
            <p class="card-text">Before you begin your application, please take time to review the obligations of a Chams Agent Network Partner.</p>
            <a href="/partners/obligations" class="btn btn-primary">View Obligations</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>