<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/partners">Partners</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg">
      <h4 class="mb-3">{{title}}</h4>
      <div class="card mb-3">
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.1</span> The Chams Agent Network partner shall at all times during the subsistence of this agreement perform Agent Services on behalf of various service providers.
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2</span> The Chams Agent Network partner shall, in the performance of the Agent Services:
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.1</span> Ensure that the center remain open for rendering the Agent Services during normal business hours on all Business Days;
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.2</span> Maintain adequate, suitable and sufficiently staffed locations as are necessary to ensure the efficient and timely performance of services;
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.3</span> At its own cost, cause staff at the agent location to receive training in respect of the operation and efficient performance of the Agent Services;
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.4</span> Grant access to the authorized representatives of CHAMS AGENT NETWORK during regular business hours, to audit any one or more of the agent locations and the performance of the Agent Services;
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.5</span> At its own cost and expense to prepare, maintain and retain in electronic or other format acceptable to CHAMS AGENT NETWORK and for a period of seven (7) years after expiration or termination of this Agreement, accurate and current books and records applicable to the Agent Services including, without limitation, service records, quality documentation, names and contact information of Customers (Individually and collectively called “Records”);
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.6</span> Permit designated representatives of CHAMS AGENT NETWORK, at all reasonable times during normal business hours and upon prior notice, to audit, inspect, and copy the Records;
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.7</span> Promptly provide, upon CHAMS AGENT NETWORK’s direction, any Records in a format as may be requested by CHAMS AGENT NETWORK;
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.8</span> Serve as CHAMS AGENT NETWORK ’s liaison and promptly handle, in coordination with the NETWORK and as deemed appropriate by the NETWORK and may direct, all inquiries, orders and complaints that the Location Agents receive from Customers regarding the platform , including complaints regarding performance of the Agent Services;
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.9</span> Cooperate and use its best efforts to assist CHAMS AGENT NETWORK in the dissemination of, without limitation, any platform safety alerts, technical service bulletins, etc. to CHAMS AGENT NETWORK Customers, should they arise, or any other information as may be requested by CHAMS AGENT NETWORK;
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.10</span> Comply with the CBN Regulations and any applicable laws under the FEDERAL REPUBLIC OF NIGERIA;
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.11</span> Use the CHAMS AGENT NETWORK equipment solely in connection with Operating and offering of the Agent Services;
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.12</span> Not utilize or allow unauthorized personnel to offer the Agent services or otherwise assist in the performance of this Agreement (whether directly or otherwise);
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.13</span> Ensure that it does not discriminate against any Customer and must honor all valid Transactions, provided that such transaction is not illegal or appear suspicious;
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1.2.14</span> Prominently and unequivocally display branding and advertising materials provided by CHAMS AGENT NETWORK at its locations and ensure same is visible to the general public and shall on no condition generate CHAMS AGENT NETWORK branding and advertising materials on its own except with CHAMS AGENT NETWORK’s approval obtained in writing.
        </div>
      </div>

    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          Related Links <i class="fa fa-link"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/partners/options">Partnership Options</a></li>
          <li class="list-group-item"><a href="/partners/steps">Application and Participation Steps</a></li>
          <li class="list-group-item"><a href="/requirements">Requirements &amp; Checklists</a></li>
        </ul>
          <div class="card-body">
            <h5 class="card-title">Partner Application</h5>
            <p class="card-text">Please read all requirements for qualifying to apply for the agent network partnership program before applying.</p>
            <a href="/applications/start" class="btn btn-primary">Start Application</a>
          </div>
      </div>
    </div>
  </div>
</div>