<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/partners">Partners</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg">
      <h4 class="mb-3">{{title}}</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Option</th>
            <th scope="col">Benefits</th>
            <th scope="col">Requirements</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-justify"><h6>1. As a Chams Agent Network LGA Partner</h6> Qualified organizations’ can become super agents to other service providers and financial institutions in the LGA</td>
            <td>
              <ol class="table-list">
                <li>Earn income from online payment services such as Funds Transfer, Airtime Top-up, Bills Payment, Collection services etc.</li>
                <li>Earn additional income from quick win projects such as National ID, BVN registration, loan disbursements etc.</li>
                <li>Substantially expand your existing customer base in your LGA/State and cross sell your services</li>
                <li>Manage a network of sub agents within your LGA/State</li>
                <li>Extend your loan portfolio through agent banking services as a viable alternative to Microfinance business</li>
              </ol>
            </td>
            <td>
              <ol class="table-list">
                <li>Provision of a minimum 2 room premises on a major road (existing branch will likely serve ) per LGA</li>
                <li>Payment of partnership fee of N250, 000 per LGA. (Two partners will be appointed by Chams Agent Network per LGA)</li>
                <li>Acquire quick win projects mobile service equipment per LGA</li>
                <li>Staffing (Minimum OND), training, branding and platform setup</li>
                <li>Setup of approved premises for full range of agent banking and financial inclusion services per LGA</li>
              </ol>
            </td>
          </tr>
          <tr>
            <td class="text-justify"><h6>2. As a NAIRAPLUS Service Provider –</h6> Licensed financial service or value added service providers can connect to the NairaPlus Ecosystem to extend their existing services or projects to their customers.</td>
            <td>
              <ol class="table-list">
                <li>Access to a network of 17,000 professionally trained agents across Nigeria.</li>
                <li>Access to 2.3Million verified groups and customers</li>
                <li>Free consultancy on Agency Banking deployment and digital customer acquisition</li>
                <li>Connection to a robust Agent Banking platform</li>
              </ol>
            </td>
            <td>
              <ol class="table-list">
                <li>Provision of evidence of up to date license status with the CBN</li>
                <li>Integration to existing service platform</li>
                <li>Provision of tariff for agents</li>
                <li>Payment of partnership fee of N250,000</li>
              </ol>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          Related Links <i class="fa fa-link"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/partners/steps">Application and Participation Steps</a></li>
          <li class="list-group-item"><a href="/partners/obligations">Obligations of Partners</a></li>
          <li class="list-group-item"><a href="/requirements">Requirements &amp; Checklists</a></li>
        </ul>
          <div class="card-body">
            <h5 class="card-title">Partner Application</h5>
            <p class="card-text">Please read all requirements for qualifying to apply for the agent network partnership program before applying.</p>
            <a href="/applications/start" class="btn btn-primary">Start Application</a>
          </div>
      </div>
    </div>
  </div>
</div>