<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/partners">Partners</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg">
      <h4 class="mb-3">{{title}}</h4>
      <div class="card mb-3">
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">1</span> <strong>Verify coverage area</strong> <br> We currently require two partners per Local Government Area across the country. You may only apply to provide services in an LGA if a slot is available.<br> <a href="/applications/check-coverage-area"><i class="fa fa-link"></i> Check your LGA here</a>
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">2</span> <strong>Review requirements for partnership</strong> <br> Carefully review the qualification requirements and determine if your organization has the capacity to meet the qualification requirements. Only organizations that meet all the requirements are eligible to apply.<br> <a href="/requirements"><i class="fa fa-link"></i> View the checklists here</a>
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">3</span> <strong>Secure approved location</strong> <br> We currently require that your location be on a busy road, has a minimum of 2 rooms for office space, is easily accessible and has a staff-only back-door.<br> <a href="/requirements/location"><i class="fa fa-link"></i> Check location requirements here</a>
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">4</span> <strong>Review partnership obligations</strong> <br> Before you proceed to begin an application, you must be aware of and agree to fulfill the obligations of a Chams Agent Network partner.<br> <a href="/partners/obligations"><i class="fa fa-link"></i> Review partnership obligations here</a>
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">5</span> <strong>Start online application</strong> <br> Once you have completed the steps above and are certain your organization and location meet the specified requirements, you can proceed to start applying online.<br> <a href="/applications/start"><i class="fa fa-link"></i> Start application here</a>
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">6</span> <strong>Login or Register</strong> <br> You are required to register as a user on this website with your email as part of the application process. If you are already registered as a user on the system then you must be logged in to proceed.<br>
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">7</span> <strong>Register your organization</strong> <br> You are required to register your organization as part of the application process by providing details of you organization (e.g name, address, CAC) and uploading documents for verifying.<br> Please note that you must be an authorized representative of the organization to register it.<br> <a href="/requirements/qualification-checklist-and-required-documents"><i class="fa fa-link"></i> See required documents here</a>
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">8</span> <strong>Register your location</strong> <br> You are required to register your location as part of the application process. You will also be required to upload pictures of the building and it's surroundings.<br> <a href="/requirements/location"><i class="fa fa-link"></i> Check location requirements here</a>
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">9</span> <strong>Submit authorized signatories</strong> <br> You are required to provide details of two authorized signatories as part of your application. <br> At least one of the signatories (which could be you if you are authorized) must electronically sign your application.
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">10</span> <strong>Submit your application</strong> <br> Once you are done providing all the required information for registering as a Chams Agent Network Partner then you can submit your application.<br> We will review your application and contact you if additional information is needed. <br> <a href="/applications/start"><i class="fa fa-link"></i> Start application here</a>
        </div>
        <div class="card-body">
          <span class="badge badge-primary badge-pill mr-2 mt-1 float-left">11</span> <strong>Location Equipment</strong> <br> You may also purchase equipment from NAIRAPLUS and pay the setup fees for your location. <br> <a href="/requirements/equipment"><i class="fa fa-link"></i> See equipment list here</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          Related Links <i class="fa fa-link"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/partners/options">Partnership Options</a></li>
          <li class="list-group-item"><a href="/partners/obligations">Obligations of Partners</a></li>
          <li class="list-group-item"><a href="/requirements">Requirements &amp; Checklists</a></li>
        </ul>
          <div class="card-body">
            <h5 class="card-title">Partner Application</h5>
            <p class="card-text">Please read all requirements for qualifying to apply for the agent network partnership program before applying.</p>
            <a href="/applications/start" class="btn btn-primary">Start Application</a>
          </div>
      </div>
    </div>
  </div>
</div>