<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/requirements">Requirements</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg">
      <h4 class="mb-3">{{title}}</h4>
      <div class="card mb-3">
        <div class="card-header">Location Structure</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> A minimum 2 room structure on a major road with security staff area and back entrance</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Waiting service area for minimum of 10 customers</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Agent Training room (minimum of 20 seats with projector)</li>
        </ul>
      </div>
      <div class="card mb-3">
        <div class="card-header">Equipment Requirements</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> Agent services computer systems</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Customer service display terminal</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Customer transaction terminal</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Identity Biometric registration kit</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Field services terminal</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Business document printers</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Network connectivity - VSAT</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Backup connectivity - Modem</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Main power source</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Backup power source (generator/solar)</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Document safe/cabinet</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Cash safe</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Note counter</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Document printer/scanner</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Location furniture</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Cooling system and installation</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Internal and external lighting</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Mobile service vehicle (Tricycle)</li>
        </ul>
      </div>
      <div class="card mb-3">
        <div class="card-header">Professional Staff Training</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> Financial inclusion certification</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Product and agent platform training</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          Related Links <i class="fa fa-link"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/requirements/staff-requirements">Location Staff/Field Agent Requirements</a></li>
          <li class="list-group-item"><a href="/requirements/setup-cost">Qualification and Setup Cost</a></li>
          <li class="list-group-item"><a href="/requirements/equipment">Quick Setup Equipment Specification</a></li>
          <li class="list-group-item"><a href="/requirements/qualification-checklist-and-required-documents">Qualification and Required Documents Checklist</a></li>
          <li class="list-group-item"><a href="/partners">Chams Agent Network Partnership</a></li>
        </ul>
          <div class="card-body">
            <h5 class="card-title">Partner Application</h5>
            <p class="card-text">Please read all requirements for qualifying to apply for the agent network partnership program before applying.</p>
            <a href="/applications/start" class="btn btn-primary">Start Application</a>
          </div>
      </div>
    </div>
  </div>
</div>