<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/requirements">Requirements</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg">
      <h4 class="mb-3">{{title}}</h4>
      <div class="card mb-3">
        <div class="card-header">Business Registration Requirement</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> CAC business/State registered cooperative</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Shareholders Information/Executives Information</li>
          <li class="list-group-item"><i class="fa fa-check"></i> National Identification and Passport photograph of executives</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Provide proof of a corporate bank account</li>
        </ul>
      </div>
      <div class="card mb-3">
        <div class="card-header">Location Adequacy</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> Accessible and approved service outlet</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Toilet facility, running water, connected to national grid etc.</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Windows with curtains/blinds/burglar bars</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Doors restricting access to and from enrollment location</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Connected to national grid (PHCN)</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Waiting area capacity for a minimum of 10 customers</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Security/Personnel to control queue</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Cooling system (e.g air-conditioner, fan)</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Inner office section with back exit from premises</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Agents/Staff Training room (To sit at least 20 persons)</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Current Rent receipt or proof of property ownership</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Minimum of 5 year tenancy agreement (if not owned)</li>
          <li class="list-group-item"><i class="fa fa-check"></i> At least four different picture angles of proposed location</li>
          <li class="list-group-item"><i class="fa fa-check"></i> On a major road, Best around Market or Bus stop area</li>
        </ul>
      </div>
      <div class="card mb-3">
        <div class="card-header">Capital Investment Requirement</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> Evidence of working capital/cash of at least N1,000,000.00</li>
        </ul>
      </div>
      <div class="card mb-3">
        <div class="card-header">Resource Availability <br><small>- Professional Staff Strength</small></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> Sales Team – 4 field qualified service agents</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Operations Team – 1 location agent</li>
        </ul>
      </div>
      <div class="card mb-3">
        <div class="card-header">Coverage Area Plan</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> Agent area locations expansion plan (between 5 – 20 centers)</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Local knowledge - navigational knowledge of the area</li>
        </ul>
      </div>
      <div class="card mb-3">
        <div class="card-header">Operational Readiness</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> Availability of office tools – computers, phones etc.</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Training and business development</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Minimum of 2 qualified field agents</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          Related Links <i class="fa fa-link"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/requirements/location">Location Setup Qualification</a></li>
          <li class="list-group-item"><a href="/requirements/staff-requirements">Location Staff/Field Agent Requirements</a></li>
          <li class="list-group-item"><a href="/requirements/setup-cost">Qualification and Setup Cost</a></li>
          <li class="list-group-item"><a href="/requirements/equipment">Quick Setup Equipment Specification</a></li>
          <li class="list-group-item"><a href="/requirements/vehicle">Mobile Vehicle Equipment Setup Specification</a></li>
          <li class="list-group-item"><a href="/partners">Chams Agent Network Partnership</a></li>
        </ul>
          <div class="card-body">
            <h5 class="card-title">Partner Application</h5>
            <p class="card-text">Please read all requirements for qualifying to apply for the agent network partnership program before applying.</p>
            <a href="/applications/start" class="btn btn-primary">Start Application</a>
          </div>
      </div>
    </div>
  </div>
</div>