<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/requirements">Requirements</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <h4 class="mb-3">{{title}}</h4>
      <div class="container mb-3">
        <div class="row mb-3">
          <div class="col px-0">
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;600,000</span>
                  <h5 class="card-title">4-4-2 Scanner</h5>
                  <span class="card-text">Dermalog ZF10 finger print scanner (one device will be provided by Chams)</span>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;240,000</span>
                  <h5 class="card-title">Laptop</h5>
                  <span class="card-text">HDD 500GB; Processor 2.6Ghz Intel Core i5; RAM 8GB; OS Windows 7+</span>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;50,000</span>
                  <h5 class="card-title">Printer</h5>
                  <span class="card-text">Laser Jet Printer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col px-0">
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;260,000</span>
                  <h5 class="card-title">License</h5>
                  <span class="card-text">Offline biometric capturing software</span>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;45,000</span>
                  <h5 class="card-title">Camera</h5>
                  <span class="card-text">15MP Focus Type Auto; Optical Resolution</span>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;75,000</span>
                  <h5 class="card-title">Scanner</h5>
                  <span class="card-text">HP 300Flatbed document scanner</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col px-0">
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;10,000</span>
                  <h5 class="card-title">Height Gauge</h5>
                  <span class="card-text">8 feet Wooden ruler</span>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;50,000</span>
                  <h5 class="card-title">Monitor</h5>
                  <span class="card-text">19 inch 64bit Applicant Monitor</span>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;35,000</span>
                  <h5 class="card-title">UPS</h5>
                  <span class="card-text">BACK UPS 1.2KVA Online</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col px-0">
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;48,000</span>
                  <h5 class="card-title">Bar Code</h5>
                  <span class="card-text">2D Bar Code Scanner</span>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;65,000</span>
                  <h5 class="card-title">Signature Pad</h5>
                  <span class="card-text">Topaz signature pad with pen/Wacom LCD Signature Tablet STU 300</span>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;240,000</span>
                  <h5 class="card-title">Verification Terminal</h5>
                  <span class="card-text">Biometric Enabled customer verification Tablet</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col px-0">
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;120,000</span>
                  <h5 class="card-title">Agent Terminal</h5>
                  <span class="card-text">Agent Payment POS Terminal</span>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;30,000</span>
                  <h5 class="card-title">Internet</h5>
                  <span class="card-text">VPN over internet</span>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;7,000</span>
                  <h5 class="card-title">Extension Cable</h5>
                  <span class="card-text">Multiply plugs input power extension cable</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col px-0">
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;20,000</span>
                  <h5 class="card-title">Back Drop</h5>
                  <span class="card-text">Back Drop - Grey Color</span>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <span class="badge badge-success badge-pill float-right">&#8358;15,000</span>
                  <h5 class="card-title">GPS device</h5>
                  <span class="card-text">HiLetgo VK172 G-Mouse USB GPS/GLONASS USB GPS Receiver for Windows 10/8/7/Vista/XP</span>
                </div>
              </div>
              <div class="card border-0"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          Related Links <i class="fa fa-link"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/requirements/location">Location Setup Qualification</a></li>
          <li class="list-group-item"><a href="/requirements/staff-requirements">Location Staff/Field Agent Requirements</a></li>
          <li class="list-group-item"><a href="/requirements/setup-cost">Qualification and Setup Cost</a></li>
          <li class="list-group-item"><a href="/requirements/vehicle">Mobile Vehicle Equipment Setup Specification</a></li>
          <li class="list-group-item"><a href="/requirements/qualification-checklist-and-required-documents">Qualification and Required Documents Checklist</a></li>
          <li class="list-group-item"><a href="/partners">Chams Agent Network Partnership</a></li>
        </ul>
        <div class="card-body">
          <h5 class="card-title">Partner Application</h5>
          <p class="card-text">Please read all requirements for qualifying to apply for the agent network partnership program before applying.</p>
          <a href="/applications/start" class="btn btn-primary">Start Application</a>
        </div>
      </div>
    </div>
  </div>
</div>