<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/requirements">Requirements</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg">
      <h4 class="mb-3">{{title}}</h4>
      <div class="card mb-3">
        <div class="card-body">
          <ul class="float-right">
            <li class="badge badge-success badge-pill d-block mb-1">&#8358;25,000</li>
            <li class="badge badge-secondary badge-pill d-block">Mandatory</li>
          </ul>
          <span>Location Premises Inspection, Staff Qualification Audit, Documentation Adequacy and Equipment Verification</span>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <ul class="float-right">
            <li class="badge badge-success badge-pill d-block mb-1">&#8358;250,000</li>
            <li class="badge badge-secondary badge-pill d-block">One Off Payment</li>
          </ul>
          <span>Local Government Area Coverage Operations, Biometric Identity and Shared Agent Banking Platform Setup, Branding, Training and Documentation</span>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <ul class="float-right">
            <li class="badge badge-success badge-pill d-block mb-1">&#8358;250,000</li>
            <li class="badge badge-secondary badge-pill d-block">One Off Payment</li>
          </ul>
          <span>NAIRAPLUS Service Provider Platform Integration, Advisory and Support Services on Agent Banking, Product Development and Documentation</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          Related Links <i class="fa fa-link"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/requirements/location">Location Setup Qualification</a></li>
          <li class="list-group-item"><a href="/requirements/staff-requirements">Location Staff/Field Agent Requirements</a></li>
          <li class="list-group-item"><a href="/requirements/equipment">Quick Setup Equipment Specification</a></li>
          <li class="list-group-item"><a href="/requirements/vehicle">Mobile Vehicle Equipment Setup Specification</a></li>
          <li class="list-group-item"><a href="/requirements/qualification-checklist-and-required-documents">Qualification and Required Documents Checklist</a></li>
          <li class="list-group-item"><a href="/partners">Chams Agent Network Partnership</a></li>
        </ul>
          <div class="card-body">
            <h5 class="card-title">Partner Application</h5>
            <p class="card-text">Please read all requirements for qualifying to apply for the agent network partnership program before applying.</p>
            <a href="/applications/start" class="btn btn-primary">Start Application</a>
          </div>
      </div>
    </div>
  </div>
</div>