<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/requirements">Requirements</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg">
      <h4 class="mb-3">{{title}}</h4>
      <div class="card mb-3">
        <div class="card-header">Education Qualification Requirement</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> Proof of National Identity Registration</li>
          <li class="list-group-item"><i class="fa fa-check"></i> OND or higher graduate in any discipline (Copies of certificates to be provided)</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Two Guarantors Letters of Reference from Guardian/Parent/Partner/Landlord (if applicable) or Local Community/Religious Leader</li>
          <li class="list-group-item"><i class="fa fa-check"></i> National ID cards of Landlord/guarantor</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Proof of Home Ownership (if living in own property)</li>
        </ul>
      </div>
      <div class="card mb-3">
        <div class="card-header">Resource Requirement</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> Tablet with GPRS, Bluetooth or Smartphone with a laptop or computer system and internet connectivity</li>
        </ul>
      </div>
      <div class="card mb-3">
        <div class="card-header">Coverage Area Plan</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> Demonstration of Local knowledge</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Navigational knowledge of the area of coverage</li>
        </ul>
      </div>
      <div class="card mb-3">
        <div class="card-header">Field and Route-To-Market Experience</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> Local language skilled communication</li>
        </ul>
      </div>
      <div class="card mb-3">
        <div class="card-header">Operational Readiness</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-check"></i> Agent Banking professional training</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Service provider and product training</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Business development training</li>
          <li class="list-group-item"><i class="fa fa-check"></i> Hands on application training</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          Related Links <i class="fa fa-link"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/requirements/location">Location Setup Qualification</a></li>
          <li class="list-group-item"><a href="/requirements/setup-cost">Qualification and Setup Cost</a></li>
          <li class="list-group-item"><a href="/requirements/equipment">Quick Setup Equipment Specification</a></li>
          <li class="list-group-item"><a href="/requirements/vehicle">Mobile Vehicle Equipment Setup Specification</a></li>
          <li class="list-group-item"><a href="/requirements/qualification-checklist-and-required-documents">Qualification and Required Documents Checklist</a></li>
          <li class="list-group-item"><a href="/partners">Chams Agent Network Partnership</a></li>
        </ul>
          <div class="card-body">
            <h5 class="card-title">Partner Application</h5>
            <p class="card-text">Please read all requirements for qualifying to apply for the agent network partnership program before applying.</p>
            <a href="/applications/start" class="btn btn-primary">Start Application</a>
          </div>
      </div>
    </div>
  </div>
</div>