<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Location Setup Qualification</h5>
            <p class="card-text">Your location must meet our requirements. It must be on a major road, have a minimum of 2 office rooms and a staff-only back-door.</p>
            <a href="/requirements/location" class="btn btn-primary">View Location Requirements</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Location Staff/Field Agent Requirements</h5>
            <p class="card-text">The staff in your location and the field agents in your employment must meet our minimum educational standards and other requirements.</p>
            <a href="/requirements/staff-requirements" class="btn btn-primary">View staff requirements</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Qualification and Setup Cost</h5>
            <p class="card-text">There are fees associated with your application including costs of inspecting your location, documentation and equipment.</p>
            <a href="/requirements/setup-cost" class="btn btn-primary">View qualification costs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Quick Setup Equipment Specification</h5>
            <p class="card-text">You are required to have all the necessary equipments for providing agent services. You may also purchase from NAIRAPLUS where there is need.</p>
            <a href="/requirements/equipment" class="btn btn-primary">View equipment list</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Mobile Vehicle Equipment Setup Specification</h5>
            <p class="card-text">To set up your mobile registration center, your vehicle must have all the required equipment as specified in our list. Items in the list are available to buy.</p>
            <a href="/requirements/vehicle" class="btn btn-primary">View vehicle specs</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Qualification and Required Documents Checklist</h5>
            <p class="card-text">To help speed up your application process, please review our qualification checklist and the list of documents required to validate your organization. </p>
            <a href="/requirements/qualification-checklist-and-required-documents" class="btn btn-primary">View qualification checklist</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>