<div class="footer-area pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 pb-4">
        <div class="footer-content">
          <div class="footer-head">
            <h4><i class="fa fa-link"></i> Useful Links</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="/about">About NAIRAPLUS</a></li>
              <li class="list-group-item"><a href="/partners">Partnership</a></li>
              <li class="list-group-item"><a href="/requirements">Requirements Checklist</a></li>
              <li class="list-group-item"><a href="/apply">Partnership Application</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 pb-4">
        <div class="footer-content">
          <div class="footer-head">
            <h4><i class="fa fa-question-circle"></i> Support</h4>
            <p>
              Having trouble registering?<br>
              Our dedicated team is available to guide you through your registration process.
            </p>
            <div class="footer-contacts">
              <p><i class="fa fa-phone"></i> +234 700 0011 2233</p>
              <p><i class="fa fa-envelope-o"></i> canpartners@chams.com</p>
              <p><i class="fa fa-clock-o"></i> 9am-5pm</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="footer-content">
          <div class="footer-head">
            <div class="footer-logo">
              <h2>Social Media</h2>
            </div>
            <p>We are glad you are here. Please connect with us and follow <strong>Chams PLC</strong> on social media to keep up with the latest news and all of our trending topics.</p>
            <div class="footer-icons">
              <ul class="px-0">
                <li>
                  <a href="https://www.facebook.com/ChamsGroup/"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/chams_plc"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/user/chamsgroup"><i class="fa fa-youtube"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/chamsplc/"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/chams-plc"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-area-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="copyright text-center">
          <p class="pt-3">
            © Copyright <strong>NAIRAPLUS</strong>. All Rights Reserved
          </p>
        </div>
        <div class="credits text-center pb-3">
          Powered by <a href="https://chamsplc.com/">Chams Plc</a>
        </div>
      </div>
    </div>
  </div>
</div>