<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <p>NAIRAPLUS is Nigeria’s secure digital financial services ecosystem that enables authorized organizations to provide a wide range of financial and value added services to large numbers of verified individuals, businesses and groups through a network of professionally trained agents.</p>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Related Links <i class="fa fa-link"></i>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/partners">Partnership</a></li>
          <li class="list-group-item"><a href="/partners/steps">Application and Participation Steps</a></li>
          <li class="list-group-item"><a href="/partners/obligations">Obligations of Partners</a></li>

        </ul>
      </div>
    </div>
  </div>
</div>