<div class="container">
  <div class="jumbotron py-3">
    <h1 class="display-4">Professional Agent Services</h1>
    <p class="lead">Invitation for partnership with Chams Plc for the provision of professional Identity Management and Financial Inclusion Services. Organizations that meet our requirements are eligible to apply for partnership on the Chams agent Network platform.</p>
    <hr class="my-4">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/images/masthead-card1.jpg" alt="View Requirements">
        <div class="card-body">
          <p class="card-text">You must be eligible to apply for partnership.</p>
          <a class="btn btn-outline-primary btn-lg w-100" href="/requirements" role="button">View Requirements</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/images/masthead-card2.jpg" alt="Application Staps">
        <div class="card-body">
          <p class="card-text">Review the steps for applying for partnership.</p>
          <a class="btn btn-outline-primary btn-lg w-100" href="/partners/steps" role="button">See Application Steps</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/images/masthead-card3.jpg" alt="Apply Now">
        <div class="card-body">
          <p class="card-text">Start an online application today for partnership.</p>
          <a class="btn btn-primary btn-lg w-100" href="/applications/start" role="button">Apply Now</a>
        </div>
      </div>
    </div>
  </div>
</div>